@{
    ViewBag.Title = "עלינו";
}
<h2>@ViewBag.Title</h2>

<p>            מצאתם דיל מטורף ואתם רוצים לשתף אותו עם כל העולם? חיפשתם מבצע משוגע ולא מצאתם אותו כלל? בשביל זה אנחנו פה! העלו את הדילים שאתם רוצים לשתף ותכתבו חוות דעת על דילים אחרים. גלישה נעימה וזולה
</p>
